<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% extends 'datavis/base.html' %}

{% block title %}
About
{% endblock %}

{% block content%}
<div class="main">
	<h1> About </h1>

	<p class="main">
		A list of packages used in this project is available below.
		<li>Python : <a href="https://docs.python.org/3/">Here</a></li>
		<li>pip : <a href="https://pip.pypa.io/en/stable/">Here</a></a></li>
		<li>Pandas : <a href="https://pandas.pydata.org/docs/">Here</a></li>
		<li>numPy : <a href="https://numpy.org/doc/">Here</a></li>
		<li>MatPlotLib : <a href="https://matplotlib.org/stable/index.html">Here</a></li>
		<li>plotly : <a href="https://plotly.com/python/">Here</a></li>
		<li>Plotly-express : <a href="https://plotly.com/python-api-reference/plotly.express.html">Here</a></li>
		<li>plotly-offline : <a href="https://plotly.github.io/plotly.py-docs/generated/plotly.html">Here</a></li>
		<li>Django : <a href="https://docs.djangoproject.com/en/4.1/">Here</a></li>
		<li>Full Dataset : <a href="https://www.kaggle.com/datasets/rush4ratio/video-game-sales-with-ratings">Here</a>
			<li>Subset of data used : <a href="https://drive.google.com/file/d/14-McxRaMLMXl2Qfl2ttrgexMP62Lvwfh/view?usp=sharing">Here</a></li>
		</div>
		{% endblock %}

</html>