<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% extends 'datavis/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content%}
<h1 class="main"> Home Page </h1>

<p class="main"> This Data visualisation project aims to help developers in a vital question that must be asked when starting on any new game development project, <br><br> <b>"Is this game a viable investment?" 
</b> <br> <br>

Every year small development companies lose thousands in their respective currency, for example GTA V which cost around $265 million dollars to make (Auroch Digital, 2021). If a game like this were to fail, the developer would be massively out of pocket. Although the annual turnover could be great for a well-received game, making games is a very expensive investment, for the users of this product its a massive risk that needs sufficient market research before commiting to a projects development.

<br><br>

See our about page for a link to the packages, libraries and dataset used in creating the project.
<br><br>
 Dont forget to use our help section to teach you how to manipulate graphs to fill your needs!</p>

{% endblock %}
</html>